<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
		<title></title>
	</head>
	<body>
		<header>
			<h2>Events</h2>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<!-- check for admin user logged only -->
						<a href="/events/new">Create an Event</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>List of Events</h2>
			<ul>
				<% if (events.length === 0) { %>
					<h3>There are no events</h3>
				<% } else { %>
					<% for(let i = 0; i < events.length; i++) { %>
						<li>
							<a href="/events/<%=events[i]._id%>"><%=events[i].title%></a>
						</li>
					<% } %>
				<% } %>
			</ul>
		</main>
		<% include ../partials/footer.ejs %>
	</body>
</html>
