<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
		<title>New Event</title>
	</head>
	<body>
		<header>
			<h2>Create an Event</h2>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/events">Events Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/events" method="post">
				Title:<input type="text" name="title" /><br/>
				Date:<input type="date" name="date"><br/>
				Time: <input type="time" name="time"><br/>
				<!-- todo: only it this is the Admin -->
					<% if (volunteers.length > 0) { %>
						<br/>Volunteers:<br/>
						<select name="volunteerId">
	                    <% for(let i = 0; i < volunteers.length; i++) { %>
	                        <option value="<%=volunteers[i]._id%>"><%=volunteers[i].name%></option>
	                    <% } %>
	                </select><br/><br/>
					<% } %>
				<input type="submit" value="Publish Event"/>
			</form>
		</main>
		<% include ../partials/footer.ejs %>
	</body>
</html>
