<head>
  <meta charset="utf-8">
  <title>Chapter Volunteer Site</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/images/HOG-Logo.png" type="image/png">
</head>
