<div class="row nav">
  <a href="/"><h1 class="three columns">Home</h1></a>

  <span class="four columns">&nbsp;</span>

  <a href="/sessions/login"><button type="button" name="button" class="new-product two columns">Login</button></a>

  <span class="one columns">&nbsp;</span>

  <a href="/sessions/logout"><button type="button" name="button" class="new-product two columns">Logout</button></a><span class="one column">&nbsp;</span>
</div>
