<div class="row nav">
  <a href="/volunteers"><h1 class="six columns">Chapter Volunteer Site</h1></a>
  <span class="three columns">&nbsp;</span>
  <a href="/volunteers/new"><button type="button" name="button" class="new-product three columns">New Volunteer</button></a>
  <span class="one column">&nbsp;</span>
</div>
