<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
    <% include ./partials/nav.ejs %>
		<title>Index</title>
	</head>
	<body>
		<header>
			<h1>Welcome to the Volunteer Sign-up</h1>
			<nav >
				<ul>
					<li>
						<a href="/volunteers">Volunteers</a>
					</li>
					<li>
						<a href="/events">Events</a>
					</li>
          <li>
            <a href="/sessions/login">Login</a>
          </li>
          <li>
            <a href="/sessions/register">Register</a>
          </li>
				</ul>
			</nav>
		</header>
		<% include ./partials/footer.ejs %>
	</body>
</html>
