<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Volunteers</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/volunteers/new">Add a new Volunteer</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>List of Volunteers</h2>
			<ul>
				<% if (volunteers.length === 0) { %>
					<h3>No Registered Volunteers.</h3>
				<% } %>
				<% for(let i = 0; i < volunteers.length; i++){ %>
					<li>
						<a href="/volunteers/<%=volunteers[i]._id%>"><%=volunteers[i].name%></a>
					</li>
				<% } %>
			</ul>
		</main>
	</body>
</html>
