<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Create a Voluenteer</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/volunteers">Volunteers Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/volunteers" method="post">
				Name:<input type="text" name="name" /><br/>
				<!-- todo: add to the ejs post processing -->
				Cell:<input type="tel" name="cell" /><br/>
				Email:<input type="email" name="email" /><br/>
				MemberID:<input type="text" name="memberID" /><br/>
				<input type="submit" value="Add Volunteer"/>
			</form>
		</main>
	</body>
</html>
