<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
    <title>Register</title>
  </head>
  <body>
    <h2>User Registration</h2>
    <p>Create a unique username and password.</p>
    <br>
    <form action='/sessions/registration' method='POST'>
       <label>Username:</label><input type="text" name="username" placeholder="Unique user name"><br/>
       <label>Password:</label> <input type="password" name="password"><br/>
       <button class="button-primary  submit-button">Register</button>
    </form>
    <% include ../partials/footer.ejs %>
  </body>
</html>
